/**
* @name OldDiscordFont
* @author Snappy#1421
* @description Discord changed their font recently, this will change it back to the old one
* @version 1.0.2
* @source https://github.com/snappycreeper/OldDiscordFont
*/

:root {
    --font-primary: "Comic Sans MS", sans-serif !important;
    --font-display: "Comic Sans MS", sans-serif !important;
}

@font-face {
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap") format("woff2");
}
